.delete {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.315);
}

.delete div {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    background-color: white;

    margin: auto;

    width: 350px;
    height: 120px;
    display: flex;
    flex-direction: column;
} 

.delete div span {
    display: flex;

    justify-content: space-evenly;
}