.delete {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.315);
}

.delete div {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    background-color: white;

    margin: auto;

    width: fit-content  ;
    height: fit-content;
    display: flex;
    flex-direction: column;

    box-shadow: 1px 1px 12px 1px black;
} 

.delete div h4 {
    padding-left: 30px;
    padding-right: 30px;
}

.delete div span {
    display: flex;

    justify-content: space-evenly;
}