.vendas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: fit-content;
    height: fit-content;
    margin: auto;
    font-size: 130px;
    color: rgb(81, 172, 247);
    font-weight: 800;
}

.vendas h3{
    font-size: 30px;
    padding: 10px;
}