.cadastroStruct {
    margin:auto;
    margin-top: 80px;
    
    width: fit-content;
    height: fit-content;

    border: 1px solid black;
    padding: 20px;
}

.cadastroStruct form {
    
    display: flex;
    flex-direction: column;
}

.cadastroStruct form span {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.cadastroStruct form span a {
    color: rgb(81, 172, 247);
    margin-left: 25px;
}